table, td, tr, th{
    border: 1px solid blue;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
tr:hover{
    background-color: aqua;
    color: brown;
}
table{
    margin: auto;
}